/*@media screen and (min-width: 699px) and (max-width: 1024px) {
	.drawingBoard{
		background-color:#b5b5b5;
		padding:50px 5% 50px;
		float:left;
	}
}
@media screen and (min-width: 699px) and (max-width: 1000px){
	
	.leftPan{
		width:100%;
		height:50px;
		float:none;
	}
	.rightPan{
		width:100%;
		height:50px;
		float:none;
	}
	.leftPan ul li, 
	.rightPan ul li{
		float:left;	
	}
	.leftPan ul li ul, 
	.rightPan ul li ul{
		top:50px;
		left:0;
		width:50px;
	}
	.rightPan ul li ul{
		left:-0;
		width:50px;
		top:-300px;
	}
	.leftPan ul li ul li, 
	.rightPan ul li ul li{
		float:none;	
	}

	.drawingBoard {
	    float: none;
	}
}*/



@media only screen and (orientation:landscape){
	body{-webkit-text-size-adjust: none;}
}
